apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  annotations:
    capacity.cluster-autoscaler.kubernetes.io/labels: kubernetes.io/arch=amd64
    machine.openshift.io/GPU: "1"
    machine.openshift.io/memoryMb: "65536"
    machine.openshift.io/vCPU: "16"
  labels:
    machine.openshift.io/cluster-api-cluster: {{ clusterId }}
  name: {{ clusterId }}-gpu-{{ cloudRegion }}
  namespace: openshift-machine-api
  resourceVersion: "21119"
  uid: d95a217d-bf63-4f23-b6f5-c6fe63a6864d
spec:
  replicas: 3
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ clusterId }}
      machine.openshift.io/cluster-api-machineset: {{ clusterId }}-gpu-{{ cloudRegion }}b
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ clusterId }}
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{ clusterId }}-gpu-{{ cloudRegion }}b
    spec:
      taints:
        - effect: NoSchedule
          key: odh-notebook
          value: 'true'
      lifecycleHooks: {}
      metadata: {}
      providerSpec:
        value:
          ami:
            id: ami-08fea87cf74dfe205
          apiVersion: machine.openshift.io/v1beta1
          blockDevices:
          - ebs:
              encrypted: true
              iops: 0
              kmsKey:
                arn: ""
              volumeSize: 120
              volumeType: gp3
          credentialsSecret:
            name: aws-cloud-credentials
          deviceIndex: 0
          iamInstanceProfile:
            id: {{ clusterId }}-worker-profile
          instanceType: g5.2xlarge
          kind: AWSMachineProviderConfig
          metadata:
            creationTimestamp: null
          metadataServiceOptions: {}
          placement:
            availabilityZone: {{ cloudRegion }}b
            region: {{ cloudRegion }}
          securityGroups:
          - filters:
            - name: tag:Name
              values:
              - {{ clusterId }}-worker-sg
          subnet:
            filters:
            - name: tag:Name
              values:
              - {{ clusterId }}-private-us-west-1b
          tags:
          - name: kubernetes.io/cluster/{{ clusterId }}
            value: owned
          - name: owner
            value: claudiol
          userDataSecret:
            name: worker-user-data
